body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    height: 100vh;
    --bg-dark: #222;
    --button-color: #63B8FF;
    --button-hover: #328ce6;
    counter-reset: levels; /*Counter for levels*/
}

*, *::before, *::after {
    box-sizing: inherit;
    font-family: inherit;
}

h1 {
    font-size: 2.5rem;
    color: #00796b;
    display: flex;
    align-self: center;
}
canvas {
    border: 2px solid #004d40;
    width: 1280px;
    height: 720px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 
    background-image:    url(/IMG/Ocean.jpg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
}

button {
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #00796b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px;

}

#gameButtons {
    background-color: #328ce6;
    display: flex;
    flex-direction: column;

}

footer {
  width: 100%;
  background-color: red;
  display: flex;
  margin-top: auto;
  color: white;
  text-align: center;
    background-color: var(--bg-dark);

}

section {
    display: flex;
    align-self: center;

}